---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="hero">
    <h1>
      OUTES<br />
      <span>Out of the Standard</span>
    </h1>

    <p class="intro">
      OUTES est une boîte de production audiovisuelle spécialisée dans la
      création de contenus vidéo et de publicités numériques.
      <br /><br />
      Nous concevons des images en mouvement pensées pour capter, raconter
      et convertir.
    </p>

    <p class="sub">
      De la pré-production à la diffusion, nous accompagnons marques,
      créateurs et entreprises dans des projets visuels sur mesure.
    </p>

    <a href="mailto:contact@outes.studio" class="cta">
      Travaillons ensemble
    </a>
  </section>
</Layout>
